{{ define "__alert_title" }}{{ .CommonLabels.alertname }}{{ end }}

{{ define "__alert_description" }}
*Alert:* {{ .CommonLabels.alertname }}
*Severity:* {{ .CommonLabels.severity }}
*Description:* {{ .Annotations.description }}
*Summary:* {{ .Annotations.summary }}
{{ end }}

{{ define "custom.alert.notification" }}
{{ if eq .Status "firing" }}
  {{- $alert := .Alerts }}
  {{ range $index, $a := $alert }}
    *Alert:* {{ template "__alert_title" $a }}
    *Description:* {{ template "__alert_description" $a }}
    *Starts At:* {{ $a.StartsAt }}
    *Ends At:* {{ if .EndsAt }}{{ $a.EndsAt }}{{ else }}Still firing{{ end }}
    *Labels:* {{ .Labels | toJson }}
    *Annotations:* {{ .Annotations | toJson }}
    {{- end }}
{{ else }}
  No alerts firing.
{{ end }}
{{ end }}
